<div>
    <p>Bienvenido! {{user.name}}</p>
    {{#if user.admin}}
        <p>ADMINISTRADOR</p>
    {{/if}}
    
    <a href="/private"> Acceso privado</a>
    <a href="/logout"><button>LogOut</button></a>
    <h1>Todos los Productos</h1>
    <hr>
    <h2>Agregar un nuevo producto</h2>
    <form>
        <input type='text' name="title" id="title" placeholder="Producto">
        <input type='text' name="description" id="description" placeholder="descripcion">
        <br>
        <input type='number' name="price" id="price" placeholder="precio">
        <input type='text' name="code" id="code" placeholder="codigo">
        <br>
        <input type='text' name="status" id="status" placeholder="estado(true/false)">
        <input type='number' name="stock" id="stock" placeholder="stock">
        <br>
        <input type='text' name="category" id="category" placeholder="categoria">
        <button type="submit" id="form">Enviar!</button>
    </form>
    <hr>
    {{#each products}}
        <b>{{title}}</b>
        <br>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>{{_id}}</p>
        <a href="/products/{{_id}}"><button>Detalle</button></a>
        <hr>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button>Siguente</button></a>
    {{/if}}
    <br><br>
        <a href="/products?page={{prevLink}}"><button>Página Anterior</button></a>
        <a href="/products?page={{nextLink}}"><button>Página Siguente</button></a>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>