<div class="container mt-3">
    <p class="my-3">Bienvenido {{user.name}}</p>
    {{#if user.admin}}
        <p>ADMINISTRADOR</p>
    {{/if}}
    
    <a href="/private"> Acceso privado</a>
    <a href="/logout"><button>LogOut</button></a>
    <h1 class="mt-3 text-center">Todos los Productos</h1>
    <hr>
    <h2 class="mt-3 text-center">Agregar un nuevo producto</h2>
    <form class="mt-3">
        <input class="rounded-2 my-1" type='text' name="title" id="title" placeholder="Producto">
        <input class="rounded-2 my-1" type='text' name="description" id="description" placeholder="descripcion">
        <input class="rounded-2 my-1" type='number' name="price" id="price" placeholder="precio">
        <input class="rounded-2 my-1" type='text' name="code" id="code" placeholder="codigo">
        <br>
        <input class="rounded-2 my-1" type='text' name="status" id="status" placeholder="estado(true/false)">
        <input class="rounded-2 my-1" type='number' name="stock" id="stock" placeholder="stock">
        <input class="rounded-2 my-1" type='text' name="category" id="category" placeholder="categoria">
        <button type="submit" id="form">Enviar!</button>
    </form>
    <hr>
    <div class="row container text-center">
        {{#each products}}
            <div class="card rounded-4 m-2 col-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">${{price}}</h6>
                    <p class="card-text">{{description}}</p>
                    <a href="/products/{{_id}}" class="card-link">Detalle</a>
                </div>
            </div>
            {{!-- <b>{{title}}</b>
            <br>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>{{_id}}</p>
            <a href="/products/{{_id}}"><button>Detalle</button></a>
            <hr> --}}
        {{/each}}
    </div>
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button>Siguente</button></a>
    {{/if}}
    <br><br>
        <a href="/products?page={{prevLink}}"><button>Página Anterior</button></a>
        <a href="/products?page={{nextLink}}"><button>Página Siguente</button></a>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>