<div class="container mt-3">
    <div class="row">
        <p class="mt-2 col-2 ">Bienvenido, {{user.name}}</p>
        <h1 class="col-8 text-center">Tienda</h1>
        <a class="boton mt-2 mb-3 btn btn-success col-2" href="/carts/64d178ac34e06a4786ec5b54">Carrito</a>
        <a class="boton mt-2 mb-3 btn btn-danger col-2" href="/logout">LogOut</a>
        {{#if admin}}
            <p>ADMINISTRADOR</p>
            <a href="/private"> Acceso privado</a>
        {{/if}}
        
    </div>
    <div class="add py-4 mt-2 container rounded rounded-5 border border-secondary">
        <h2 class=" text-center">Agregar un nuevo producto</h2>
        <form class="mt-3 container text-center row">
            <input class="rounded-2 my-1 col-3" type='text' name="title" id="title" placeholder="Producto">
            <input class="rounded-2 my-1 col-3" type='text' name="description" id="description" placeholder="descripcion">
            <input class="rounded-2 my-1 col-3" type='number' name="price" id="price" placeholder="precio">
            <input class="rounded-2 my-1 col-3" type='text' name="code" id="code" placeholder="codigo">
            <input class="rounded-2 my-1 col-3" type='text' name="status" id="status" placeholder="estado(true/false)">
            <input class="rounded-2 my-1 col-3" type='number' name="stock" id="stock" placeholder="stock">
            <input class="rounded-2 my-1 col-3"  type='text' name="category" id="category" placeholder="categoria">
            <button class="btn btn-success boton col-2" type="submit" id="form">Enviar!</button>
        </form>
        
    </div>
    <h1 class="my-3 text-center">Todos los Productos</h1>
    <div class="row container text-center">
        {{#each products}}
            <div class="card rounded-4 m-2 col-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">${{price}}</h6>
                    <p class="card-text">{{description}}</p>
                    <a href="/products/{{_id}}" class="card-link">Detalle</a>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if hasPrevPage}}
        <a class="btn btn-secondary btn-sm " href="/?page={{prevPage}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a class="btn btn-secondary btn-sm " href="/?page={{nextPage}}">Siguente</a>
    {{/if}}
    <br><br>
        <a class="btn btn-secondary" href="/?page={{prevLink}}">Página Anterior</a>
        <a class="btn btn-secondary" href="/?page={{nextLink}}">Página Siguente</a>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>